<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../w3.css">
<link rel="stylesheet" href="../theme-blue-grey.css">
<link rel='stylesheet' href='../font-face.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
	<!-- 'title' is passed from the index.js during response.render call -->
	<title><%= title %></title>
	<style>
	body{
	background-color: #f5f7f8;
	}
	#table{margin-left:30%}

	</style>
		
</head>
<body style="margin-top:0px; margin-left:0px; margin-right:0px">
		<%- include ../layouts/loginHeader.ejs %>
		<br>
        <h1 style="text-align:center; font-weight: normal; font-size: 35px">Welcome to Meal Slackers</h1>
        <h1 style=" font-weight: normal; font-size: 30px; margin-left:30%">Register:</h1>
		
		<br>
		<form action="/register" method="post">	
			<h4 style="margin-left:30%">Name</h4>
			<input type="text" name="Name" placeholder="Enter name" value = "<%= Name %>" size="75" style="margin-left:30%; min-height:40px">
			<br>
			<h4 style="margin-left:30%">Email Address</h4>
			<input type="email" name="email" placeholder="Enter email address" value = "<%= email %>" size="75" style="margin-left:30%; min-height:40px">
			<h4 style="margin-left:30%">Password</h4>
			<input type="Password" name="Password1" placeholder="Password" value = "<%= Password1 %>" size="75" style="margin-left:30%; min-height:40px">
			<br>
			<h4 style="margin-left:30%">Confirm Password</h4>
			<input type="Password" name="Password2" placeholder="Password" value = "<%= Password2 %>" size="75" style="margin-left:30%; min-height:40px">
			<br>
			<h4 style="margin-left:30%">Major</h4>
			<input type="text" name="Major" placeholder="Major" value = "<%= Major %>" size="75" style="margin-left:30%; min-height:40px">
			<br>
			<h4 style="margin-left:30%">Class</h4>
			<div id="table">
				<input type="radio" name="Month" value="Spring">Spring
				<input type="radio" name="Month" value="Fall">Fall
				<input type="radio" name="Month" value="Summer">Summer
				<input type="number" name="Year" value="2018" size="20"  style="left:0; height:30px; width:60px; margin-top:5px;">
			</div>
			<br>
			<h4 style="margin-left:30%">Role</h4>
			<div id="table">
				<input type="radio" name="role" value="Student" checked="checked">Student
				<input type="radio" name="role" value="Faculty">Faculty
				<input type="radio" name="role" value="Organization">Organization
			</div>
			<br>
			<h4 style="margin-left:30%">Hometown</h4>
			<input type="text" name="Hometown" value="Boulder" placeholder="Enter hometown" size="75" style="margin-left:30%; min-height:40px">
			<br>
			<br>
			<h4 style="margin-left:30%">Interests</h4>
			<div id="table">
				<input type="checkbox" name ="Interests" value="1">CS
				<input type="checkbox" name ="Interests" value="2">Engineering
				<input type="checkbox" name ="Interests" value="3">Physics
				<input type="checkbox" name ="Interests" value="4">Math
				<input type="checkbox" name ="Interests" value="5">Arts and Science
				<input type="checkbox" name ="Interests" value="6">Business
				<input type="checkbox" name ="Interests" value="7">Music/Theater/Dance
			</div>
			<br>
			<h4 style="margin-left:30%">Additional Information</h4>
			<div id="table">
				<p>About Me</p>
				<textarea name="Description" rows="4" cols="75">Hi! I'm at CU Boulder!</textarea>
			</div>
			<br>
			<h4 style="margin-left:30%">Profile Photo URL(coming soon)</h4>
			<!--<input type="text" name="Profilephoto" value="<%= Profilephoto %>" placeholder="Profile Photo URL" size="75" style="margin-left:30%; min-height:40px"> -->
			<br>
                        <% if (messages.error) { %>
                          <p style="margin-left:30%; color:red"><%- messages.error %></p>
                        <% } %>
			<br>
			<input type="Submit" value="Submit" style="background-color:#57707d; color:white; width: 150px; height: 40px; margin-left:30%; margin-bottom: 20px" >
		</form>
		
		</html>
